div.ShopPage div.Gallery{
  margin-top: 55px;
}

/* === Shop Product === */
div.ShopProduct{
  flex: 0 0 15%;
  flex-direction: column;
  margin: 0 5% 5%;
}

div.ShopProduct a{
  text-decoration: none;
}

div.ShopProduct product-image{
  padding-top: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
div.ShopProduct product-image:hover{
  filter: brightness(1.3) contrast(.9);
}
