@import './reset.css';
@import './shared.scss';
@import './homepage/homepage.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/** CSS Variables **/
:root{
  --text:black;
}

/** Global Styling **/
body, body * {
  display: flex;
  flex: 0;
  flex-direction: column;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text);
}

script{
  display: none;
}

spacer{
  flex: 1;
}