div.MainHeader{
  flex: 1 1 100px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.MainHeader a.logo-link{
  text-decoration: none;
  width: 400px;
  height: 100px;
}

div.MainHeader img.logo-img{
}

div.MainHeader nav{
  flex-direction: row;
  background: lightblue;
}