/** Main Site Header **/
div.MainHeader{
  flex: 1 1 100px;
  flex-direction: row;
  padding: 30px;
  justify-content: stretch;
  align-items: center;
}

div.MainHeader a.logo-link{
  text-decoration: none;
  margin-left: 10vw;
}

div.MainHeader ul.nav-list{
  margin-right: 20vw;
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul.nav-list li.nav-li{
  white-space: nowrap;
  padding: 5px 30px;
  text-align: center;
}

ul.nav-list a.nav-text{
  text-decoration: none;
  border-bottom: 1px solid transparent;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

ul.nav-list a.nav-text:hover{
  border-bottom: 1px solid var(--text);
}