/** Main Header **/
div.MainHeader{
  flex: 1 1 100px;
  flex-direction: row;
  padding: 0px 30px;
  justify-content: stretch;
  align-items: center;
}

div.MainHeader a.logo-link{
  text-decoration: none;
  margin-left: 10vw;
}

div.MainHeader img.logo{
  opacity: .9;
}

div.MainHeader ul.nav-list{
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul.nav-list li.nav-li{
  white-space: nowrap;
  padding: 5px 30px;
  text-align: center;
}

ul.nav-list a.nav-text{
  text-decoration: none;
  border-bottom: 1px solid transparent;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

ul.nav-list a.nav-text:hover{
  border-bottom: 1px solid var(--text);
}

/** Banner **/
div.Banner{
  flex: 0 0 120px;
  background-image: url("../src/assets/unsplash/yarnpile.jpg");
  opacity: .9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** Main Footer **/
div.MainFooter{
  background: lightgrey;
  padding-bottom: 30px;
}

div.MainFooter footer-column{
  flex: 1;
}

div.MainFooter h1.column-header{
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

ul.footer-links a{
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

ul.footer-links a:hover{
  border-bottom: 1px solid black;
}

div.MainFooter footer-column.misc-column{
  padding: 0 20px;
  font-size: 16px;
}

/** Size Wrapper **/
div.SizeWrapper{
  flex-direction: row;
  justify-content: center;
}

div.SizeWrapper content-wrapper{
  flex: 0 1 1200px;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

/** Gallery **/
div.Gallery gallery{
  flex: 1;
  align-items: stretch;
}

div.Gallery h1.gallery-title{
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  margin-bottom: 55px;
  font-family: Roboto, serif;
  font-size: 20px;
  text-transform: uppercase;
}

div.Gallery gallery-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}